.features{
  background:linear-gradient(
    90deg,
    #F8F4EE 0%,
    #faf7f2 35%,
    #faf7f2 100%
  );

  position:relative;

  border-top:1px solid rgba(176,122,67,0.12);
  border-bottom:1px solid rgba(176,122,67,0.12);

  box-shadow:
    0 -1px 0 rgba(255,255,255,0.8),
    0 10px 30px rgba(176,122,67,0.08);

  padding:28px 0;
}

.feature-container{
  width:90%;
  max-width:1400px;
  margin:auto;

  display:flex;
  align-items:center;
  justify-content:space-between;
  gap:15px;

  flex-wrap:wrap;
}

.feature-item{
  display:flex;
  align-items:center;
  gap:12px;

  color:#2B2B2B;
  font-size:15px;
  font-weight:200;

  position:relative;
}

.feature-item svg{
  color:#b07a43;
  font-size:22px;
  flex-shrink:0;
}
@media (max-width:992px){

  .feature-container{
    justify-content:center;
    gap:25px;
  }

  .feature-item{
    font-size:16px;
  }

}
@media (max-width:576px){

  .feature-container{
    flex-direction:column;
    align-items:flex-start;
    padding:20px;
    gap:18px;
  }

  .feature-item{
    font-size:15px;
  }

  .feature-item svg{
    font-size:18px;
  }

}