:root{
  --ivory:#F8F4EE;
  --espresso:#2B2118;
  --bronze:#BB8356;
  --bronze-deep:#8C5A34;
}

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  font-family:"Inter",sans-serif;
  background:#FCFAF7;
  color:#2B2118;
  overflow-x:hidden;
}

.container{
  width:90%;
  max-width:1280px;
  margin:auto;
}

img{
  max-width:100%;
  display:block;
}

a{
  text-decoration:none;
}

ul{
  list-style:none;
}